
body {
	font-family: Arial

}
.navbar {
	background-color: #ffff;
}

.margin {
	padding-top: 50px;
	padding-bottom: 50px;
}

.img {
	padding-top: 20px;
	padding-bottom: 20px;
}

.quemsomos {
	background-color: #808080;
}

.parceiros {
	background-color: #589771
}

.servicos {
	background-color:#a5ba6f
}

.footer {
	background-color: #000000;
	color: #ffffff;
}